<% @followings.each do |d| %>
  <div class="row">
 
  <div class="col-md-6">
  <li id="<%= d %>">
  <%= link_to gravatar_for d %>
  <span class="user"><%= link_to d.name, d %></span>
  
    <% if d.microposts.any? %>
      <h3>Microposts (<%= d.microposts.count %>)</h3>
      <ol class="microposts">
      </ol>
    <% end %>
</li>

  </div>
</div>
</br>
<% end %>